Q1 - How do you comment in python ? what are the different types of comments?

In [ ]:
# There are two types of comment in python 
# 1) single line comment by using # 
# 2) multiline comment by using triple courts (''' ''') or (""" """)
# example of single line comment 
# my name is naman garg 

# example of multiline comment is 
"""this is a comment 
by which i can show you 
how to perform multiline comment"""

Q2 - What are variables in python? How do you declare and assingn values to variables?

In [6]:
''' A variable is used to retrieve the stored data, and its value may change during the program. We use the “=” operator for value assignment. we can assign
different types of values such as numbers, strings, or objects to variables ''' 

# Example
school = 'SDMN VIDYA MANDIR SCHOOL'
student_name = 'Naman'

# Here we have made two variables school and student_name and we have assign tbe varables values as SDMN VADYA MANDIR SCHOOL and Naman.
# now we can use print command to print the variables that he have made upper

print(school)
print(student_name)

SDMN VIDYA MANDIR SCHOOL
Naman

Q3 - How do you convert one data type to another in Python ?

In [15]:
# We Can easily convert one data type to another data type in python by using type conversion.
# for example -:

# 1. int() - this function convert one value data type to integer data type 
# Example -
string = "100"
n = int(string)
print(string)
print(type(string))
print(n)
print(type(n))
# Here we have converted string data type into integer data type

# 2. float() - this function convert one value data type to float data type
# Example -
number = 78
f = float(number)
print(number)
print(type(number))
print(f)
print(type(f))
# Here we converted integer data type into flaot data type 

# same way we can do many more type conversion of data types from one to another
# list(), set(), float(), str(), int(), tuple()

100
<class 'str'>
100
<class 'int'>
78
<class 'int'>
78.0
<class 'float'>

Q4 - How do you write and execute a Python script from the command line?

In [16]:
# The most easiest way to run the Python script is by using the python command 
# you need to open  a command line and type the word python followed by the path to your script file like this: python first_script.py Hello World!
# Then you hit the ENTER button from the keyboard, and that's it.

Q5 - Given a list my_list = [1,2,3,4,5] Write the code to slice the list and obtain the sub-list [2,3]

In [22]:
my_list = [1,2,3,4,5]
my_list[1:3:1]

[2, 3]

Q6 - What is complex number in mathematics, and how it is represented in python?

In [24]:
# Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called “iota”

# complex number represented in python like -:
c = 4 + 7j
print(type(c))

# variable name j is must to represent imaginary number in python

<class 'complex'>

Q7 - What is the correct way to declare a variable named age and assign the value 25 to it ?

In [27]:
age = 25

Q8 - Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [28]:
price = 9.99
type(price)

float

Q9 - Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [29]:
name = "Naman Garg"
print(name)

Naman Garg

Q10 - Given the string "Hello, World!", extract the substring "World".

In [34]:
a = "Hello, World!"
a[7:12:1]

'World'

Q11 - Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [35]:
is_student = True 
 # Here i have created a variable named is_student and assign it a boolean True that indicates that i am currently a student

In [40]:
True == 1

True